[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"

[dev-command:workbench.action.debug.configurepackages]

[requires]
python_version = "3.12"
